<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Vehicle Column -->
  <ng-container matColumnDef="vehicle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vehicle">
      Vehicle
    </th>
    <td mat-cell *matCellDef="let element">{{ element.vehicle }}</td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
      Phone
    </th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Date
    </th>
    <td mat-cell *matCellDef="let element">{{ element.date | date: 'yyyy-MM-dd' }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-header">Actions</th>
    <td mat-cell *matCellDef="let element" class="actions-cell md:space-x-3">
      <button mat-icon-button class="cursor-pointer text-blue-600" aria-label="Update">
        <img src="/edit-svgrepo-com.svg" class="w-6" alt="" />
      </button>
      <button mat-icon-button class="cursor-pointer text-blue-600" aria-label="Update">
        <img src="/eye-view-reveal-show-svgrepo-com.svg" class="w-6" alt="" />
      </button>
      <button mat-icon-button class="cursor-pointer text-red-400" aria-label="Delete">
        <img src="/delete-svgrepo-com.svg" class="w-6" alt="" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
