.bg-image{
    background-image: url(../../../../public/flocks-white-foam.webp);
    background-position:  center center;
    background-size: cover;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      min-width: 100%;
  min-height: 100%;
  z-index: 0;
}