/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


.style-container {
      @apply max-w-300 mx-auto px-4;
}
.form-input{
  @apply placeholder-gray-400 outline-0 w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white  rounded-md
}
.form-label{
  @apply bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute
}

body{
     font-family: "Inter", sans-serif;
}



